<p id="notice"><%= notice %></p>



<p>
  <strong>Nome:</strong>
  <%= @loja.nome %>
</p>

<p>
  <strong>Morada:</strong>
  <%= @loja.morada %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @loja.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @loja.longitude %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @loja.activo %>
</p>

<%= link_to 'Edit', edit_loja_path(@loja) %> |
<%= link_to 'Back', lojas_path %>
