<h1>Listing promos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Datainicio</th>
      <th>Datafim</th>
      <th>Activo</th>
      <th>Tipopromo</th>
      <th>Descricao</th>
      <th>Id loja</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promos.each do |promo| %>
      <tr>
        <td><%= promo.nome %></td>
        <td><%= promo.dataInicio %></td>
        <td><%= promo.dataFim %></td>
        <td><%= promo.activo %></td>
        <td><%= promo.tipoPromo %></td>
        <td><%= promo.descricao %></td>
        <td><%= promo.Id_Loja %></td>
        <td><%= link_to 'Show', promo %></td>
        <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
        <td><%= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo', new_promo_path %>
